* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

header {
  background-color: #f0f0f0;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #1d2939;
  font-family: "McLaren", cursive;
  font-weight: 200;
  /* text-align: center; */
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #d0d5dd;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: #98a2b3;
  color: #1d2939;
  border-radius: 6px;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  width: 500px;
  margin: 30px auto 20px auto;
  /* background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137); */
}
form input,
form textarea {
  width: 100%;
  border: 1px solid #98a2b3;
  border-radius: 6px;
  outline: none;
  padding: 10px;
  margin: 3px 2px;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color: #d0d5dd;
}

/* form input:hover,
form textarea:hover {
  border: 2px solid #98a2b3;
} */

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #98a2b3;
  color: #1d2939;
  border: none;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
